body {
    background: url("../Styles/Images/DMC4background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.dmc4 {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    border: red 1px solid;
    padding: 10px 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

#dmc-4-title{
    text-align: center;
    font-family: "Permanent Marker";
}